<html>
	<head>
		<title>Yelp H@ckath0n 4.0 | Ballot</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script>var mobile=false;</script>
		<script src="/site_media/js/journey.js"></script>
		<link href="/site_media/css/journey.css" rel="stylesheet" type="text/css">
	</head>
	<body>

		<div id="container">

			<img src="/site_media/images/YelpLogo.jpg" height="100" border-color="white"> 
			<center><font size="8" face="verdana"> H@ckath0n 4.0 Ballot</font></center>
			<br>
			<div id="ballot" class="tableballot">
				<div id="headers">
					<div class="lefty">Team Name</div>
					<div class="lefty">Members</div>
					<div class="ufcb-header">Useful</div>
					<div class="ufcb-header">Funny</div>
					<div class="ufcb-header">Cool</div>
					<div class="ufcb-header">Bling</div>
				</div>
			</div>
		</div>
		<div id="footer">Voting is a Journey</div>
	</body>
</html>
