#container {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: white;
	width: 430px;
	padding: 5px;
	margin: 0 10px;
}

body {
	background: #A0A0A0;
}

main {
	height: 600px;

}


.tableballot {
	display: table;
	border: none;
	background: #A0A0A0;
	color: white;
}


#hackathon-teams  .team-description {
	display: table-row;
	
}

#headers > div,
.tableballot > .team > div {
	display: table-cell;
	padding: 4px;
}

.singlevote {
	display: table;
	border: none;
	background: #A0A0A0;
	color: white;
}

.singlevote > .team {
	display: table-cell;
	
}

#headers > div {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
}


#headers > div {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tableballot > .team:last-child > div {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.teamname {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	vertical-align: middle;
}

.members {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px !important;
	color: grey;
}

.description {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px !important;
	color: gray;
}

.slideballot {
}

.slideballot > .team {
	width: 5in;
	height: 5in;
}

.slideballot > .headers {
	display: none;
}


.useful, .funny, .cool, .bling {
	width: 170px;
	height: 40px;
}

.rating {
	margin: 5px;
	background: url("/site_media/images/stars_m.png");
	background-repeat: no-repeat;
	width: 160px;
	height: 30px;
	border: none;
	background-position: 0 0px;
	display: inline-block;
}

.stars-1, .mouseover-stars1:hover {
	background-position: 0 -36px;
}

.stars-2, .mouseover-stars2:hover {
	background-position: 0 -72px;
}

.stars-3, .mouseover-stars3:hover {
	background-position: 0 -108px;
}

.stars-4, .mouseover-stars4:hover {
	background-position: 0 -144px;
}

.stars-5, .mouseover-stars5:hover {
	background-position: 0 -180px;
}

div .starArea {
	width: 32px;
	height: 30px;
	display: inline-block;
	border: 0px;
}

.type-desc {
    display: inline-block;
    width: 80px;
    vertical-align: inherit;
}

.type-desc span {
    font-size: 14px;
    font-family: verdana, Helvetica;
}

.col1 {
    width: 200px;
    text-align: left !important;
}

.col2 {
    width: 200px;
    max-width: ;
    text-align: left !important;
}

.col3 {
    width: 200px;
    text-align: left !important;
}


.team-description div {
    display: table-cell;
    padding: 4px;
    font-size: 20px;
    text-align: center;
    vertical-align: super;
}

.rating-container {
    padding-left: 80px
}

.team {
    border-bottom: 1px dotted grey;
}


#headers {
    border-bottom: 2px solid #C11B17;
}

.team_votes {
    padding-bottom: 10px;
}