#container {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: white;
	width: 1000px;
	padding: 20px;
	margin: auto;
}

body {
	background: grey;
}


.tableballot {
	display: table;
	border: none;
	color: white;
}

#headers,
.tableballot > .team {
	display: table-row;
	
}

#headers > div,
.tableballot > .team > div {
	display: table-cell;
	max-width: 200px;
	height: 40px;
	padding: 4px;
	border: 5px red; 
	background: white;

}


#headers > div {
	font-family: verdana;
	font-size: 20px;
	color: black;
	text-align: center;
}

.lefty {
	text-align: left !important
}

.tableballot > .team > div:nth-child(odd),
#headers > div:nth-child(odd) {
	background: #white;
}

#headers > div {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tableballot > .team:last-child > div {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.teamname {
	font-family: verdana;
	font-size: 14px;
	vertical-align: middle;
	color: grey;
}

.members {
	font-family: verdana;
	font-size: 12px;
	color: green;
	vertical-align: middle;
}

.description {
	font-family: verdana;
	font-size: 10px;
	color: gray;
	vertical-align: middle;
}

.slideballot {
}

.slideballot > .team {
	width: 5in;
	height: 5in;
}

.slideballot > .headers {
	display: none;
}


.useful, .funny, .cool, .bling {
	width: 93px;
	height: 20px;
}

.rating {
	margin: 5px;
	background: url("stars.png") ;
	background-repeat: no-repeat;
	width: 93px;
	height: 20px;
	border: none;
	background-position: 0 0px;
}

.stars-1, .mouseover-stars1:hover {
	background-position: 0 -20px;
}

.stars-2, .mouseover-stars2:hover {
	background-position: 0 -40px;
}

.stars-3, .mouseover-stars3:hover {
	background-position: 0 -60px;
}

.stars-4, .mouseover-stars4:hover {
	background-position: 0 -80px;
}

.stars-5, .mouseover-stars5:hover {
	background-position: 0 -100px;
}

.starArea {
	width: 17.5px;
	height: 20px;
	display: inline-block;
	border: 0px;
}

#footer{
	font-family: verdana;
	font-size: 14px;
	color: white;
	text-align: right;
	margin: 0 75px 0 0;
}
